<div class="fondo">

<div id="main-header">
		
     <a id="logo-header" href="#">
          <span class="site-name">CODE SPACE</span>
          
     </a> <!-- / #logo-header -->

     <nav>
          <ul>
               <li><a href="#">Inicio</a></li>
               <li><a href="#">Acerca de</a></li>
               <li><a href="#">Contacto</a></li>
          </ul>
     </nav><!-- / nav -->

</div><!-- / #main-header -->




<article class="col-13 card-effect">
           <div class="card">
            
                <iframe src="https://isstracker.pl/widget/map?disableInfoBox=1&lang=en"  ></iframe>
             
                <button id="buton" type="button" onclick="window.location='https://esamultimedia.esa.int/multimedia/virtual-tour-iss/';"> <strong>Haz click aca para entrar a la
                    <br> estacion espacil</strong> </button>
            
           </div>
       </article>
       <br>
       


       <section class="container">
        <div class="row">
           <div class="col-12 text-center">
               <h2 class="text-warning text-uppercase"> Titulo 2 </h2>
               <h3 class="h5"> Descripcion</h3>
               <p>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur at rem beatae modi! Dolores assumenda nulla neque at doloribus eligendi debitis impedit voluptas.
               </p>
           </div>

           <article class="col-6 card-effect">
               <div class="card">
                    <img src="../../../assets/img/CODE SPACE/ca6.gif" alt="" class="card-img card-img-filter">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                         <h4>Rafting</h4>
                         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat illo incidunt pariatur earum odit cumque?</p>

                         <a href="#" class="text-reset">Leer Mas</a>
                    </div>
               </div>
           </article>


           


           <article class="col-6 card-effect">
               <div class="card">
                    <img src="../../../assets/img/CODE SPACE/ca1.gif" alt="" class="card-img card-img-filter">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                         <h4>Rafting</h4>
                         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat illo incidunt pariatur earum odit cumque?</p>

                         <a href="#" class="text-reset">Leer Mas</a>
                    </div>
               </div>
           </article>
        </div>
     </section>
       <app-footer></app-footer>

     </div>