<header class="header ">
    <div class="container vh-50">
         <nav class="row text-white justify-content-between  align-items-center text-uppercase pt-4" >
            <a href="#" class="col-auto text-reset"></a>
            
            <img  class="img-logo"  src="../../../assets/logo.png" alt="logo">
            

            <div class="col-auto">
                <a href="#" class="text-reset pr-3" >Home</a>
                <a href="#" class="text-reset pr-3" >Opcion 1</a>
                <a href="#" class="text-reset pr-3" >Opcion 2</a>
                <a href="#" class="text-reset pr-3">Opcion 3</a>
                
            </div>

         </nav>
<br><br><br><br><br>
         <div class="row  h-100 align-items-center ">
              <div class="col-6 text-white">
                   <h1> <span class="text-warning">Un viaje en el espacio en</span> <br>  3D</h1>
                   <strong>
                    Descubre e Interactua el fascinante mundo del Satélite Internacional a través de imagenes de 360° desde distintos puntos del mundo con información obtenida desde la Nasa
                   </strong>
                   <br><br><br><br>
                   <a href="/datos" class="text-reset btn btn-warning "> Explorar</a>
              </div> 
         </div>
    </div>

    <img src="../../../assets/cut-header.svg" alt="">
 </header>
