
    

   
<app-header></app-header>
<section class="container">
    <div class="row">
       
          
    
    </div>
 </section>
 <section class="container">
    <div class="row">
       <div class="col-12 text-center">
           <h2 class="text-warning text-uppercase"> INFORMACION </h2>
           
           <strong>La Estación Espacial (ISS) es un satélite artificial creado con el objetivo de llevar con exito el lanzamiento de cohetes espaciales que conllevan suministros, como es el caso de minisatélites de otras empresas, que ayudan a mejorar dramáticamente la predicción del clima y diversos fenomenos ambientales.</strong>
       <br><br><br>
        </div>

       <article class="col-4 card-effect">
           <div class="card">
                <img src="../../../assets/img/1.png" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                     <h4>Rafting</h4>
                     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat illo incidunt pariatur earum odit cumque?</p>

                     <a href="#" class="text-reset">Leer Mas</a>
                </div>
           </div>
       </article>


       <article class="col-4 card-effect">
           <div class="card">
                <img src="../../../assets/img/2.png" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                     <h4>Rafting</h4>
                     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat illo incidunt pariatur earum odit cumque?</p>

                     <a href="#" class="text-reset">Leer Mas</a>
                </div>
           </div>
       </article>


       <article class="col-4 card-effect">
           <div class="card">
                <img src="../../../assets/img/3.png" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                     <h4>Rafting</h4>
                     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat illo incidunt pariatur earum odit cumque?</p>

                     <a href="#" class="text-reset">Leer Mas</a>
                </div>
           </div>
       </article>
    </div>
 </section>

<br><br><br>


 <app-footer></app-footer>
    
